.catalog-main {
    margin-top: 2em;
    overflow-y: auto;
    background-color: f5f5f5;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.catalog-header-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    z-index: 100;
    width: 80vw;
    border-radius: 8px;
}

.catalog-header {
    background: white;
    padding: 10px 20px;
    z-index: 100;
    width: 76vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 6em;

}

.catalog-body {
    padding: 20px;
    max-width: 78vw;
    margin: 0 auto;
    margin-top: 19vh;
}

.catalog-body-row {
  background: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-body-row h3{
    width: 11em;
}

.catalog-body-row p{
    width: 15em;
}

.container{

    min-width: 1500px;
}

.bookCover{

    width: 5.25em;
    height: 7em;
    margin-right: 1em;
}

.filters input {

    height: 3em;
    min-width: 40vw;
}

.cats select{

    padding: 10em;
}

.filters select {
    
    padding: 8px 12px;
    margin-left: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
