
.borrowed-page-header-container {

  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  background-color: #f5f5f5;
  padding: 1.5em;
}

.borrowed-page-header {

  display: flex;
  margin-top: 5em;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
  background: white;
  width: 76vw;
  z-index: 1000 ;
  padding: 1em;
  border-radius: 12px;
  border-bottom: 2px solid #ecf0f1;
}

.action-buttons{

  display: flex;
  gap: 1em;
}

.borrowed-books-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 34vh;
  width: 76vw;
  height: 53vh;
}

.borrowed-book-card {

  width: 100%;
  height: 32vh;
  display: flex;
  justify-content: center;
  gap: 1em;
  background: white;
  border-radius: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.borrowed-cover img {

  width: 10em;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card button {

  width: 20em;
}

.borrowed-books-grid button {

  max-width: 9em;
}

.body-cards {
  
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.card {
  
  display: flex;
  align-items : center;
  gap: 2em;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rules-card{

  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2em;
  margin-top: 1em;
}